/*Overall Styles*/

:root {
  --header-color: #1e81b0;
  --hover-color: #b7d27f;
  --network-color: #504e4f;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Navbar*/
header {
  padding: 10px;
}
nav {
  height: 50px;
  display: flex;
  align-items: center;
}

.logo-img {
  display: inline-block;
  height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

nav ul li {
  margin-right: 20px;
  display: inline-block;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--network-color);
}

a:hover {
  color: var(--hover-color);
}

/*MAIN*/
.wrapper {
  width: 40%;
  height: 80vh;
}
.find {
  width: 80%;
  height: 40px;
  margin-top: 50px;
  margin-left: 10%;
  border-radius: 5px;
}
.btn-submit {
  display: block;
  margin-top: 20px;
  margin-left: 10%;
  width: 80%;
  height: 40px;
  background-color: var(--network-color);
  color: var(--hover-color);
  border: none;
  border-radius: 5px;
  font-weight: 800;
}
.btn-submit:hover {
  background-color: var(--hover-color);
  color: var(--network-color);
  cursor: pointer;
}
.main-logo {
  display: block;
  margin: 125px auto 0 auto;
  width: 350px;
  height: 200px;
}
h1 {
  margin-top: 50px;
  font-family: "Merriweather";
  text-align: center;
}

.wrapper > p {
  text-align: center;
  text-decoration: wavy;
  font-size: 1.3rem;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-size: 1.4rem;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
}

figure img {
  width: 100%;
  border-radius: 5% 0 0 5%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  background-color: #f0f0f0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  position: absolute;
  width: 100vw;
  bottom: 0;
}
/*Plane*/
.plane img {
  height: 25px;
  width: 40px;
}

.flight {
  transform: rotate(90deg);
  animation-duration: 12s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    margin-left: 1%;
  }
  to {
    margin-left: 97%;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  nav ul {
    flex-wrap: wrap;
  }
  nav ul li {
    width: 100%;
    margin-bottom: 10px;
  }
  main {
    flex-direction: column;
  }
}
